@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
:root {
  --secondary-grape: #5C00DC;
  --secondary-graph-hover: #3b018c;
  --primary-berry: #E71356;
  --complimentary-grape3: #AB99FF;
  --text-color: #000;
  --border-color: #cbc6de;
  --border-radius: 4px;
  --background-color: #fff;
  --invert-text-color: #fff;
}

body {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--background-color);
}

#root {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

h1 {
  font-size: 32px;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

h4 {
  font-size: 14px;
  font-weight: 400;
}

h5 {
  font-size: 13px;
  font-weight: 700;
}

.para-workflow {
  font-size: 16px;
}

.description {
  font-size: 12px;
  font-weight: 400;
}

.label-value-pair {
  display: flex;
  flex-flow: column nowrap;
}

.button {
  padding: 8px 16px;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  white-space: nowrap;
}
.button.primary {
  background-color: var(--secondary-grape);
  color: var(--invert-text-color);
  border: none;
}
.button.primary:hover {
  background-color: var(--secondary-graph-hover);
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
}

.nav {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  border-right: 1px solid var(--border-color);
  background-color: var(--background-color);
  z-index: 10;
}
.nav .primary {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 24px;
  width: 100%;
}
.nav .secondary {
  width: 100%;
  display: flex;
  align-items: center;
}
.nav .navIicon {
  width: 32px;
  height: 32px;
}

.page {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  overflow: auto;
  padding: 40px 48px;
}
.page .page-header {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--border-color);
  gap: 40px;
  width: 100%;
}
.page .page-header .main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}
.page .page-header .main .left {
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
}
.page .page-header .main .left .title-date {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.page .page-header .main .left .title-date .date-loc {
  display: flex;
  flex-flow: column nowrap;
}
.page .page-header .page-subhead {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
  width: 100%;
}
.page .page-body {
  display: flex;
  flex-flow: column nowrap;
  gap: 32px;
}

.section {
  display: flex;
  flex-flow: column nowrap;
  gap: 24px;
}
.section .section-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 16px;
}
.section .section-header .icon {
  height: 35px;
  width: 35px;
}
.section .section-body {
  display: flex;
  flex-flow: column nowrap;
  gap: 24px;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 24px 32px;
  gap: 4px;
}
.card.AddCard {
  align-items: center;
}
.card.AddCard:hover {
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.card .card-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 8px;
}

.step {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  width: 100%;
}
.step .step-header {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
}
.step .step-body {
  display: flex;
  flex-flow: row nowrap;
  gap: 24px;
}
.step .step-body.stepOne {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 24px 32px;
  gap: 16px 40px;
}
.step .step-body.stepTwo {
  display: grid;
  gap: 16px 24px;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
}
.step .step-body.stepThree {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
}

@media (max-width: 768px) {
  .app {
    flex-flow: column nowrap;
  }
  .nav {
    flex-flow: row nowrap;
    border-bottom: 1px solid var(--border-color);
  }
  .nav .primary {
    flex-flow: row nowrap;
    gap: 24px;
    width: auto;
  }
  .nav .secondary {
    width: auto;
    align-items: flex-end;
  }
  .page {
    padding: 24px;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  .para-workflow {
    font-size: 14px;
  }
  .page {
    padding: 16px;
  }
  .page .page-header {
    margin-bottom: 24px;
    padding-bottom: 24px;
    gap: 24px;
  }
  .page .page-header .main {
    flex-wrap: wrap;
    gap: 16px;
  }
  .page .page-header .main .left {
    gap: 8px;
  }
  .page .page-header .main .left .logo {
    width: 65px;
    height: 65px;
  }
  .page .page-header .main .right {
    width: 100%;
  }
  .page .page-body .body-header {
    gap: 8px;
  }
  .page .page-body .body-header .icon {
    height: 30px;
    width: 30px;
  }
  .button {
    width: 100%;
  }
  .card {
    padding: 16px;
  }
  .step .step-body.stepOne {
    padding: 16px;
  }
  .step .step-body.stepTwo {
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  }
  .step .step-body.stepThree {
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  }
  .step .step-body .card .description {
    max-width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
